<!-- login.html -->
{% extends "auth_base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
                <h2 class="font-weight-bold text-5 mb-0">Login</h2>
                <form action="{% url 'account_login' %}" id="frmSignIn" method="post" class="needs-validation">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {{ form.login.label_tag }}
                    {{ form.login|add_class:"form-control form-control-lg text-4" }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <div class="row justify-content-between">
                        <div class="form-group col-md-auto">
                            <a class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2" href="#">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Login</button>
                            <div class="divider">
                                <span class="bg-light px-4 position-absolute left-50pct top-50pct transform3dxy-n50">or</span>
                            </div>
                            <a href="#" class="btn btn-dark btn-modern w-100 text-transform-none rounded-0 font-weight-bold align-items-center d-inline-flex justify-content-center text-3 py-3" data-loading-text="Loading..."><i class="fab fa-github text-5 me-2"></i> Login With Github</a>
                            
                            <a href="{% url "account_signup" %}" class="btn btn-dark mt-4 btn-modern w-100 text-transform-none rounded-0 font-weight-bold align-items-center d-inline-flex justify-content-center text-3 py-3"><i class="fab fa-pen text-5 me-2"></i> Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
