{% extends "index.html" %}
{% block content %}
    <br>
    <br>
    <br>
    <button class="btn btn-modern btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#formModal">
        <i class="fas fa-plus"></i> Create Exam
    </button>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
                <strong>{{ message.tags }}!</strong> {{ message }}.
            </div>
        {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"># Exam ID</th>
                <th scope="col">Exam name</th>
                <th scope="col">Duration(mins)</th>
                <th scope="col"># of Questions</th>
                <th scope="col">pass_code</th>
                <th scope="col">Results</th>
                <th scope="col">Delete exam</th>
                <th scope="col">Update exam</th>
            </tr>
            </thead>
            <tbody>
            {% for exam in exams %}
            <tr>
                <th scope="row">{{exam.pk}}</th>
                {% if exam.exam_type == 'essay'%}
                <td><a href="{% url "create_essay_questions" exam.id %}">{{exam.name}}</a></td>
                {% else %}
                <td><a href="{% url "create_mc_questions" exam.id %}">{{exam.name}}</a></td>
                {% endif %}
                <td>{{exam.duration}}</td>
                <td>{{exam.count_questions}}</td>
                <td>{{exam.pass_code}}</td>
                {% if exam.results_count < 1 %}
                <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#results_no">Results</button></td>
                {% else %}
                <td><a href="{% url "results_view" exam.id%}" class="btn btn-secondary">Results</a></td>
                {% endif %}
                <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ exam.id }}">Delete</button></td>
                <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal{{ exam.id }}">Update</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade"
         id="formModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="formModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="formModalLabel">Create Exam</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="exam_form"
                          action="{% url "create_exam" %}"
                          method="POST"
                          class="mb-4">
                        {% csrf_token %}
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 text-start text-sm-end mb-0">Name</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Type exam name..."
                                       required />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 text-start text-sm-end mb-0">Duration</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="duration"
                                       class="form-control"
                                       placeholder="Dutarion in minutes..."
                                       required />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 text-start text-sm-end mb-0">Start date</label>
                            <div class="col-sm-9">
                                <input type="datetime-local"
                                       name="start_datetime"
                                       class="form-control"
                                       required />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 text-start text-sm-end mb-0">Exam Type</label>
                            <div class="col-sm-9">
                                <select class="form-select form-control"
                                        name="exam_type"
                                        data-msg-required="Please select a city."
                                        name="city"
                                        required="">
                                    <option value="mc">Multiple Choice</option>
                                    <option value="essay">Open Questions</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-sm-3 text-start text-sm-end mb-0">Pass code</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="pass_code"
                                       class="form-control"
                                       placeholder="Enter code"
                                       required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for exam in exams %}
        <div class="modal fade"
             id="formModal{{ exam.id }}"
             tabindex="-1"
             role="dialog"
             aria-labelledby="formModal{{ exam.id }}Label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="formModal{{ exam.id }}Label">Create Exam</h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="exam_form"
                              action="{% url "create_exam" %}"
                              method="POST"
                              class="mb-4"
                              novalidate="novalidate">
                            {% csrf_token %}
                            <div class="form-group row align-items-center">
                                <label class="col-sm-3 text-start text-sm-end mb-0">Name</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           name="name"
                                           value="{{ exam.name }}"
                                           class="form-control"
                                           placeholder="Type exam name..."
                                           required />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-sm-3 text-start text-sm-end mb-0">Duration</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           name="duration"
                                           value="{{ exam.duration }}"
                                           class="form-control"
                                           placeholder="Dutarion in minutes..."
                                           required />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-sm-3 text-start text-sm-end mb-0">Start date</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local"
                                           name="start_datetime"
                                           value="{{ exam.start_datetime|date:'Y-m-d' }}T{{ exam.start_datetime|time:'H:i' }}"
                                           class="form-control"
                                           required />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-sm-3 text-start text-sm-end mb-0">Exam Type</label>
                                <div class="col-sm-9">
                                    <select class="form-select form-control"
                                            name="exam_type"
                                            data-msg-required="Please select an exam type"
                                            required="">
                                        <option value="mc" {% if exam.exam_type == "mc" %}selected{% endif %}>Multiple Choice</option>
                                        <option value="essay" {% if exam.exam_type == "essay" %}selected{% endif %}>Open Questions</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-sm-3 text-start text-sm-end mb-0">Pass code</label>
                                <div class="col-sm-9">
                                    <input type="text"
                                           name="pass_code"
                                           value="{{ exam.pass_code }}"
                                           class="form-control"
                                           placeholder="Enter code"
                                           required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="deleteModal{{ exam.id }}"
             tabindex="-1"
             aria-labelledby="deleteModal{{ exam.id }}Label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal{{ exam.id }}Label">Confirm Delete</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete {{ exam.name }} exam?</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url "delete_exam" exam.id %}"
                           id="deleteExamLink"
                           class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modal fade"
    id="results_no"
    tabindex="-1"
    aria-labelledby="results_noLabel"
    aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="results_noLabel">No results</h5>
               <button type="button"
                       class="btn-close"
                       data-bs-dismiss="modal"
                       aria-label="Close"></button>
           </div>
           <div class="modal-body">There are not any results to view</div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
           </div>
       </div>
   </div>
</div>

      <script>
    document.addEventListener('DOMContentLoaded', function() {
        const saveBtn = document.getElementById('saveChangesBtn');
        const formFields = document.querySelectorAll('#exam_form [required]');
    
        function checkFormValidity() {
            let isValid = true;
            formFields.forEach(field => {
                if (field.value.trim() === '') {
                    isValid = false;
                }
            });
    
            saveBtn.disabled = !isValid;
        }
    
        // Initial check
        checkFormValidity();
    
        // Check form validity on input change
        formFields.forEach(field => {
            field.addEventListener('input', checkFormValidity);
        });
    });
    
    </script>
{% endblock content %}
