{% extends "index.html" %}


{% block content %}
<form action="{% url "mark_script" exam.id %}" method="post">
    {% csrf_token %}
    {% for answer in answers %}
        <h4>{{ forloop.counter }}.{{answer.question}}</h4>
        <p>{{answer}}</p>
        <label for="comment_{{answer.id}}">Comment:</label>
        <textarea class="form-control" name="comment_{{answer.id}}" value={{answer.comment}} id="comment_{{answer.id}}" cols="100%" rows="4"></textarea><br><br>
        <label for="marks">Marks:</label>
        <input type="number" class="form-control" value="{{answer.score}}" name="marks{{answer.id}}" id="marks{{answer.id}}">
        <br>
        <hr>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock content %}