<ul>
    {% for option in options %}
    <li class="d-flex align-items-center justify-content-between col-6">
        {% if option.is_answer %}
        <span>{{ option }}</span>
        <span>(correct answer)</span>
        {% else %}
        <span>{{ option }}</span>
        <form action="{% url 'delete_option' option.id %}" method="post" hx-post="{% url 'delete_option' option.id %}" hx-confirm="Are you sure you want to delete this option?" hx-target="#options-container-{{ question_id }}" hx-swap="innerHTML">
            {% csrf_token %}
            <button type="submit" class="btn btn-link text-danger btn-sm" hx-trigger="click">X</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>