<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Exam{% block title %}{% endblock title %}</title>	

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %} ">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %} ">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %} ">
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css' %} ">
		<link rel="stylesheet" href="{% static 'css/theme-elements.css' %} ">
		<link rel="stylesheet" href=" {% static 'css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-shop.css' %} ">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{% static 'css/skins/default.css' %} ">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css' %} ">
		<script src="https://unpkg.com/htmx.org@1.8.0"></script>

	</head>
	<body>

        <header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}" style="height: 104px;">
			<div class="header-body" style="">
				<div class="header-container container" style="height: 100px;">
					<div class="header-row">
						<div class="header-column">
							<div class="header-row">
								<div class="header-logo" style="width: 100px; height: 48px;">
									<a href="{% url "teacher" %}">
										<h1>Exam </h1>
									</a>
								</div>
							</div>
						</div>
						<div class="header-column justify-content-end">
							<div class="header-row">
								<div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
									<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
										<nav class="collapse">
											<ul class="nav nav-pills" id="mainNav">
												{% if user.is_teacher %}
												<li>
													<a class="dropdown-item dropdown-toggle" href="{% url "teacher" %}">Home</a>
												</li>
												{% else %}
												<li>
													<a class="dropdown-item dropdown-toggle" href="{% url "student" %}">Home</a>
												</li>
												{% endif %}
												{% if user.is_teacher %}
												<li>
													<a class="dropdown-item dropdown-toggle" href="{% url "create_exam" %}">Create Exams</a>
												</li>
												{% endif %}
												<li>
													<a class="dropdown-item dropdown-toggle" href="{% url "account_logout" %}">Logout</a>
												</li>
											</ul>
										</nav>
									</div>
									<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>
								</div>
								<div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		

        <div id="examples" class="container py-2 pt-20">
            {% block content %}{% endblock content %}
        </div>


		<!-- Vendor -->
		<script src="{% static 'vendor/plugins/js/plugins.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 's/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js' %}"></script>

	</body>
</html>